body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    margin: 0;
}

.container {
    background-color: rgba(238, 0, 255, 0.648);
    padding: 30px;
    border-radius: 8px;
    width: 320px;
}

h1 {
    text-align: center;
}

input,
select {
    margin-top: 5px;
}

button {
    display: block;
    margin: auto;
}